<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines = "none">
    <ion-icon (click)="return()" name="arrow-back-outline" slot="start"></ion-icon>
  </ion-item>
  <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="text" required></ion-input>
      <ion-label color="danger" *ngIf="loginForm.controls.email.errors?.required && (loginForm.touched || loginForm.dirty)">* El tipo es obligatorio </ion-label>
      <ion-label color="danger" *ngIf="loginForm.controls.email.errors?.minlength && (loginForm.touched || loginForm.dirty)">* Mínimo 4 carácteres.</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="text" required></ion-input>
      <ion-label color="danger" *ngIf="loginForm.controls.password.errors?.required && (loginForm.touched || loginForm.dirty)">* El motivo es obligatorio </ion-label>
      <ion-label color="danger" *ngIf="loginForm.controls.password.errors?.minlength && (loginForm.touched || loginForm.dirty)">* Mínimo 4 carácteres.</ion-label>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button class = "add-form-submit" color = "tertiary" type="submit" shape="round" expand="block">Enviar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
