<ion-header>
  <mat-toolbar color="primary">
    <button (click)="return()" slot = "start" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Iniciar sesión</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item lines = "none">
    <ion-icon (click)="return()" name="arrow-back-outline" slot="start"></ion-icon>
  </ion-item>
  <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input formControlName="email" placeholder="Email" type="text" required></ion-input>
      <ion-label color="danger" *ngIf="loginForm.controls.email.errors?.required && (loginForm.touched || loginForm.dirty)">* El email es obligatorio </ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input formControlName="password" placeholder="Contraseña" type="password" required></ion-input>
      <ion-label color="danger" *ngIf="loginForm.controls.password.errors?.required && (loginForm.touched || loginForm.dirty)">* La contraseña es obligatoria </ion-label>
      <ion-label color="danger" *ngIf="loginForm.controls.password.errors?.minlength && (loginForm.touched || loginForm.dirty)">* Mínimo 4 carácteres.</ion-label>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button class = "add-form-submit" color = "tertiary" type="submit" shape="round" expand="block">Enviar</ion-button>
      </ion-col>
    </ion-row>
  </form> -->
  <h1></h1>
    <br/>
    <br/>
    <div>
      <form [formGroup]="loginForm" (submit)="onFormSubmit()" class = "form">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label class = "label" >Email</mat-label>
          <input matInput type="email" formControlName="email">
          <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
            <span *ngIf="loginForm.controls.email.errors.required">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label class = "label" >Contraseña</mat-label>
          <input matInput type = "password" formControlName="password">
          <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
            <span *ngIf="loginForm.controls.password.errors.required">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Iniciar sesión</button>
      </form>
    </div>
</ion-content>
