<ion-header>
  <ion-toolbar>
    <ion-title>Menú creación de solicitud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines = "none">
    <ion-icon (click)="return()" name="arrow-back-outline" slot="start"></ion-icon>
  </ion-item>
  <form [formGroup]="requestCreateForm" (ngSubmit)="onFormSubmit()">
    <ion-item>
      <ion-label position="floating" ></ion-label>
      <ion-input formControlName="type" type="email" placeholder = "Tipo" required></ion-input>
      <ion-label color="danger" *ngIf="requestCreateForm.controls.type.errors?.required && (requestCreateForm.touched || requestCreateForm.dirty)">* El tipo es obligatorio </ion-label>
      <ion-label color="danger" *ngIf="requestCreateForm.controls.type.errors?.minlength && (requestCreateForm.touched || requestCreateForm.dirty)">* Mínimo 4 carácteres.</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Motivo</ion-label>
      <ion-input formControlName="reason" type="text" required></ion-input>
      <ion-label color="danger" *ngIf="requestCreateForm.controls.reason.errors?.required && (requestCreateForm.touched || requestCreateForm.dirty)">* El motivo es obligatorio </ion-label>
      <ion-label color="danger" *ngIf="requestCreateForm.controls.reason.errors?.minlength && (requestCreateForm.touched || requestCreateForm.dirty)">* Mínimo 4 carácteres.</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha de inicio</ion-label>
      <ion-input formControlName="startDate" type="text" required></ion-input>
      <ion-label color="danger" *ngIf="requestCreateForm.controls.startDate.errors?.required && (requestCreateForm.touched || requestCreateForm.dirty)">* La fecha de inicio es obligatoria </ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha de finalización</ion-label>
      <ion-input formControlName="endDate" type="text" required></ion-input>
      <ion-label color="danger" *ngIf="requestCreateForm.controls.endDate.errors?.required && (requestCreateForm.touched || requestCreateForm.dirty)">* La fecha de finalización es obligatoria </ion-label>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating">Autor</ion-label>
      <ion-input formControlName="userEmail" type="text" required></ion-input>
      <ion-label color="danger" *ngIf="requestCreateForm.controls.userEmail.errors?.required && (requestCreateForm.touched || requestCreateForm.dirty)">* El autor es obligatorio </ion-label>
    </ion-item> -->

    <ion-row>
      <ion-col>
        <ion-button class = "add-form-submit" color = "tertiary" type="submit" shape="round" expand="block">Enviar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
