<ion-header>
  <mat-toolbar color="primary">
    <img src="../../assets/img/OrchestraLogo.png" alt="Orchestra Logo">
    <span class="example-spacer"></span>
  </mat-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class = "button-container">
    <button mat-raised-button color = "primary" class = "menu-buttons" (click) = "requestReportCompile()" >Generar informe <br> de solicitues</button>
    <button mat-raised-button color = "primary" class = "menu-buttons" (click) = "requestReportViewer()" >Ver informe <br> de solicitues</button>
  </div>

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>