<ion-header>
  <ion-toolbar>
    <ion-title>EmployeeRequests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let r of req">
    <ion-card-header>
      <ion-card-title>Solicitudes</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Tipo: {{r.type}}<br /> 
      Motivo: {{r.reason}}<br />
      Fecha de inicio: {{r.startDate}}<br /> 
      Fecha de finalización: {{r.endDate}}<br /> 
      Estado: {{r.revised}}<br /> 
    </ion-card-content>
    <ion-item>
      <ion-icon (click)="updateRequest(r.id)" name="create" slot="end"></ion-icon>
      <ion-icon (click)="deleteRequest(r.id)" name="trash" slot="end"></ion-icon>
    </ion-item>
  </ion-card>

  <ion-button (click)="insertRequest()" shape = "round" color = "tertiary" class = "add-button" expand="block">Crear una solicitud</ion-button>
</ion-content>
