// .container{
//     // margin-top: 10em;
//     margin-top: 70%;
//     margin-bottom: 50%;
//     margin-left: 3%;
//     // margin-left: 5%;
// }
.ok-menu{
    margin-left: 115px;
}
.menu-buttons{
    margin-left: 20px;
    height: 160px;
    width: 160px;
    margin-top: 240px;
    align-self: center;
}
.menu-buttons2{
    margin-left: 20px;
    height: 160px;
    width: 160px;
    margin-top: 240px;
    align-self: center;
}
@media (min-width: 1300px) {
    .menu-buttons {
      margin-left: 170px;  
      height: 250px;
      width: 650px;
      margin-top: 325px;
    //   margin-bottom: 375px;
    } 
    .menu-buttons2 {
        margin-left: 170px;  
        height: 250px;
        width: 650px;
        margin-top: 10px;
        // margin-bottom: 375px;
      } 

  }