<ion-header>
  <ion-toolbar>
    <ion-title>Datos personales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines = "none">
    <ion-icon (click)="return()" name="arrow-back-outline" slot="start"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-input *ngIf="admin" [(ngModel)]="search" placeholder = "Búsqueda por email" type="text"></ion-input>
    <ion-icon id = "search-icon" (click) = "DataSearch()" name="search-outline" slot = "end" style="display: 'none';"></ion-icon>
    <ion-icon id="reload-icon" (click) = "getAllData()" name="close-outline" slot = "end" style="display: 'none';"></ion-icon>
  </ion-item>
  <ion-card *ngIf="!data">
    <ion-card-content>
      No se han encontrado resultados
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let d of dat">
    <ion-card-header>
      <ion-card-title>Datos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      DNI: {{d.DNI}}<br /> 
      Nombre: {{d.name}}<br />
      Primer Apellido: {{d.firstSurname}}<br /> 
      Segundo Apellido: {{d.secondSurname}}<br /> 
      Teléfono: {{d.phone}}<br /> 
      Email: {{d.userEmail}}<br /> 
      <ion-icon id = "update-icon" (click)="updateData(d.id)" name="create" slot="end" style="zoom:2.0;"></ion-icon>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let s of sta">
    <ion-card-header>
      <ion-card-title>Turno de trabajo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Turno: {{s.type}}<br /> 
      Fecha de inicio: {{s.startDate}}<br />
      Fecha de finalización: {{s.endDate}}<br /> 
    </ion-card-content>

  </ion-card>
</ion-content>
