

.container{
    // margin-top: 10em;
    margin-top: 50%;
    margin-bottom: 50%;
    margin-left: 3%;
    // margin-left: 5%;
} 

.menu-buttons{
    margin-left: 3.5%;
    height: 160px;
    width: 160px;
    align-self: center;
}