.form-field{
    display: block;
}

.container{
    margin-top: 20%;
}

mat-form-field.mat-form-field {
    width: 90%;
    margin-left: 5%;
    color:#ffffff;
  }
  
  .mat-raised-button, .mat-stroked-button, .mat-flat-button {
    margin-left: 70%;
  }
  // .label{
  //     color:var(--accent-lighter-color);
  //     border-color: #ffffff;
  // }  