<ion-header>
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines = "none">
    <ion-icon (click)="return()" name="arrow-back-outline" slot="start"></ion-icon>
  </ion-item>
  <form [formGroup]="registForm" (ngSubmit)="onFormSubmit()">
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input formControlName="email" placeholder="Email" type="text" required></ion-input>
      <ion-label color="danger" *ngIf="registForm.controls.email.errors?.required && (registForm.touched || registForm.dirty)">* El tipo es obligatorio </ion-label>
      <ion-label color="danger" *ngIf="registForm.controls.email.errors?.minlength && (registForm.touched || registForm.dirty)">* Mínimo 4 carácteres.</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input formControlName="password" placeholder = "Contraseña" type="text" required></ion-input>
      <ion-label color="danger" *ngIf="registForm.controls.password.errors?.required && (registForm.touched || registForm.dirty)">* El motivo es obligatorio </ion-label>
      <ion-label color="danger" *ngIf="registForm.controls.password.errors?.minlength && (registForm.touched || registForm.dirty)">* Mínimo 4 carácteres.</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input formControlName="cpassword" placeholder = "Confirmar contraseña" type="text" required></ion-input>
      <ion-label color="danger" *ngIf="registForm.controls.cpassword.errors?.required && (registForm.touched || registForm.dirty)">* El motivo es obligatorio </ion-label>
      <ion-label color="danger" *ngIf="registForm.controls.cpassword.errors?.minlength && (registForm.touched || registForm.dirty)">* Mínimo 4 carácteres.</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input formControlName="DNI" placeholder = "DNI" type="text" required></ion-input>
      <ion-label color="danger" *ngIf="registForm.controls.DNI.errors?.required && (registForm.touched || registForm.dirty)">* El motivo es obligatorio </ion-label>
      <ion-label color="danger" *ngIf="registForm.controls.DNI.errors?.minlength && (registForm.touched || registForm.dirty)">* Mínimo 4 carácteres.</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input formControlName="name" placeholder = "Nombre" type="text" required></ion-input>
      <ion-label color="danger" *ngIf="registForm.controls.name.errors?.required && (registForm.touched || registForm.dirty)">* El motivo es obligatorio </ion-label>
      <ion-label color="danger" *ngIf="registForm.controls.name.errors?.minlength && (registForm.touched || registForm.dirty)">* Mínimo 4 carácteres.</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input formControlName="firstSurname" placeholder = "Primer apellido" type="text" required></ion-input>
      <ion-label color="danger" *ngIf="registForm.controls.firstSurname.errors?.required && (registForm.touched || registForm.dirty)">* El motivo es obligatorio </ion-label>
      <ion-label color="danger" *ngIf="registForm.controls.firstSurname.errors?.minlength && (registForm.touched || registForm.dirty)">* Mínimo 4 carácteres.</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input formControlName="secondSurname" placeholder = "Segundo apellido" type="text" required></ion-input>
      <ion-label color="danger" *ngIf="registForm.controls.secondSurname.errors?.required && (registForm.touched || registForm.dirty)">* El motivo es obligatorio </ion-label>
      <ion-label color="danger" *ngIf="registForm.controls.secondSurname.errors?.minlength && (registForm.touched || registForm.dirty)">* Mínimo 4 carácteres.</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input formControlName="phone" plceholder = "Teléfono" type="text" required></ion-input>
      <ion-label color="danger" *ngIf="registForm.controls.phone.errors?.required && (registForm.touched || registForm.dirty)">* El motivo es obligatorio </ion-label>
      <ion-label color="danger" *ngIf="registForm.controls.phone.errors?.minlength && (registForm.touched || registForm.dirty)">* Mínimo 4 carácteres.</ion-label>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button class = "add-form-submit" color = "tertiary" type="submit" shape="round" expand="block">Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
